#legend {
  float: right;
}

#button-group {
  margin: 1em 0;
  float: left;
}

button {
  margin-right: 0.5em;
}

label {
  margin: 1em 0;
  display: block;
}

#input-selector-group {
  float: left;
}

#raw-input {
  max-width: 50%;
}

#dashboard {
  clear: both;
}

code {
  word-wrap: break-word;
}
